@font-face {
    font-family: 'antinoouRegular';
    src: url('antinoou-webfont.eot');
    src: url('antinoou-webfont.eot?#iefix') format('embedded-opentype'),
         url('antinoou-webfont.woff') format('woff'),
         url('antinoou-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'antinoouItalic';
    src: url('antinoouitalic-webfont.eot');
    src: url('antinoouitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('antinoouitalic-webfont.woff') format('woff'),
         url('antinoouitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
	/*background-image: url(../img/parchment.jpg);
	background-color: #E3CA9C;*/
	background-color: #5791b7;
	font-size: 12pt;
}

.anti{font-family: antinoouRegular, sans-serif;}
#orths td{font-family: antinoouRegular, sans-serif;}
#results td{font-family: antinoouRegular, sans-serif;}
#senses td{font-family: antinoouRegular, sans-serif;}
.entrylist td{font-family: antinoouRegular, sans-serif;}
#results td.pos_cell{min-width: 200px; color: grey; font-size: small}
.orth_cell,.related_orth{min-width: 100px;}
.second_orth_cell{color: grey}

.bibl{color: gray}
.trans{width: 99%}
.dialect{color:darkred}
.morphology{color:gray; font-style: italic}

.page-main-header{border-bottom: 0px !important; margin: 30px 0 10px 0 !important}
.page-header{border-bottom: 0px !important; margin: 30px 0 10px 0 !important}
#inc{font-size: small; width:90%; text-align:center} /*border-bottom: 1px solid gray; */
footer div{font-size: small;}
table a {color: #0d0d9d !important}
table td {vertical-align: bottom}
#search table td {vertical-align: top}
ol{margin: 0px !important}

#search {width:340px}
#search td{padding: 4px}
#search td > div{margin-top: 4px}
#search input:not([type=radio]):not([type=submit]), #search select{    float:left;
    clear:both; height: 16pt; width: 160px}
#lang{float:left !important; clear:both}
.content, #search {border: 1px solid black; background-color: rgba(255, 255, 255, 0.5); padding: 12px; margin-left: 4px; margin-top:4px; min-height: 250px }
.related_orth, .orth_cell, .second_orth_cell, .pos_cell{vertical-align:top}
.orth_entry, .morphology, .dialect, .annis_link, .tla_orth_id{padding:4px}
#senses {margin-top: 5px; margin-bottom: 10px}
.tag{font-family: antinoouRegular, sans-serif; color: #3b7577;    margin-top: 4px;
    margin-bottom: 6px;}
.see_also{margin-top: 6pt;}
.etym{font-family: antinoouRegular, sans-serif; }
#definition,#coptic{font-family: antinoouRegular, sans-serif; }



.holder {
  position: relative;
}

#coptic:valid + .placeholder {
  display: none;
}

.placeholder {
  position: absolute;
  top: 2px;
  left: 2px;
  color: lightgrey;
  
}

.placeholder span {
  color: red;
}

@font-face {
	font-family: 'annistools';
	src:url('annistools.eot?-528qpn');
	src:url('annistools.eot?#iefix-528qpn') format('embedded-opentype'),
		url('annistools.ttf?-528qpn') format('truetype'),
		url('annistools.woff?-528qpn') format('woff'),
		url('annistools.svg?-528qpn#annistools') format('svg');
	font-weight: normal;
	font-style: normal;
}



.icon-annis:before {
	content: "\e608";
	font-family: 'annistools';
	color: #6d2020;
}


[class^="icon-"], [class*=" icon-"] {
	font-family: 'annistools';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	content: "\e608";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.footer{background-color:rgba(80,43,7,0.5);	; padding: 5px; color:white; margin-top:50px; line-height: 1}
.footer a{color: orange}
.footer a:hover{color: pink}

.logos{padding: 5px; background-color:rgba(255, 255, 255, 0.5); margin-top:5px}

.kellia{font-family: 'Open Sans', sans-serif; font-size:14pt;
     border: 3px solid grey;padding:3px; margin-top: 2px}
.ftext{display:inline-block}
.navbar-form{margin-bottom: 0px !important}
.navbar-nav > li > a{line-height: 10px !important;}

#bug_report{
	    background-color: antiquewhite;
    font-size: small;
    padding: 2px;
    margin: 4px;
    border: 1px solid gray;
}

.freq_icon{color: #6d2020;
position: relative;
top: -3px;
}


/* Image dict_tooltip */
.dict_tooltip
{
  text-decoration:none;
  position:relative;
}


.dict_tooltip span
{
  display:none;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  color:black;
  background:white;
}


.dict_tooltip span img
{
  float:left;
  margin:0px 8px 8px 0;
}


.dict_tooltip:hover span
{
  display:block;
  position:absolute;
  left:-20px;
  top: 0px;
  z-index:1000;
  min-width:400px;
  max-width:600px;
  min-height:80px;
  border:1px solid black;
  margin-left:32px;
  overflow:hidden;
  padding:8px;
}

.dict_tooltip:hover #kbd
{
  min-width:320px;
}

.expandable {
    margin-top: 0px;
    position: relative;
    top: -3px;
    left: 3px;
    display: inline-block;
}

.help_icon{
color: black;
position: relative;
top: 3px;
}

.keyboard_table tr:nth-child(even) { background: #FFF; font-family: antinoouRegular }
.keyboard_table tr:nth-child(odd) { background: #EEE; }

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
  /*text-decoration-style: dashed;
  text-decoration-line: underline;
  text-decoration-color: #0d0d9d;*/
}

.hint{
    vertical-align: super;
    height: 10px;
    width: 10px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: lightgray;
    border: 1px solid black;
    text-align: center;
    display: inline-block;
    line-height: 1em;
    font-size: 60%;
}

.hint:hover{
	background-color: white;
}

[data-tooltip]:hover{
  /*text-decoration-style: dashed;
  text-decoration-line: underline;
  text-decoration-color: #0d0d9d;*/
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.colloc_tab td, .colloc_tab th{
padding:2px
}

.citation_info {
	font-style: normal;
    color: lightsteelblue;
    font-size: small;
}

#citation_info_box{
    background-color: #ffffb3;
    font-size: small;
    padding: 2px;
    margin: 4px;
    border: 1px solid gray;
}

.tla_orth_id{
	color:gray; 
}

.annis_link {
	color:#9e6a43;
}

.sense_lang{
	padding-right: 5px;
}
