<div class="content">
<p>
The Coptic Dictionary Online aims to make it easy to look up Coptic words in all dialects 
and supply freely accessible translations in English, French and German, via human and machine readable interfaces. 
To learn more about using this dictionary, check out our quick <a href="help.cgi">how-to guide</a>.
</p>

<p>
This project was made possible through the help of the following:
</p>
<h3>Lexicon preparation</h3>
<p>This lexicon primarily represents work by <b>Frank Feder</b>, who prepared and revised the original Coptic word list, in collaboration with <b>Maxim Kupreyev</b>, who extended 
and standardized the dictionary. We thank all of following people who contributed to compiling the lexical data:</p>
<ul>
	<li>Sonja Dahlgren</li>
	<li>Julien Delhez</li>
	<li>Frank Feder</li>
	<li>Lena Krastel</li>
	<li>Maxim Kupreyev</li>
	<li>Tonio Sebastian Richter</li>	
	<li>Anne S&ouml;rgel</li>
</ul>

<h3>Search interface</h3>
<p>The search interface was designed at Georgetown University as part of the project KELLIA by:</p>
<ul>
	<li>Emma Manning</li>
	<li>Amir Zeldes</li>
</ul>

<h3>Projects</h3>
<ul>
	<li><a href="http://www.copticscriptorium.org/">Coptic Scriptorium</a> (Georgetown, Pacific)</li>
	<li><a href="http://www.copticscriptorium.org/kellia">KELLIA</a> (BBAW, Georgetown, G&ouml;ttingen, M&uuml;nster, Pacific)</li>
	<li><a href="http://aaew.bbaw.de/">Strukturen und Transformationen des Wortschatzes der &auml;gyptischen Sprache</a> (BBAW)</li>
</ul>


<h3>Funding agencies</h3>
<ul>
	<li><a href="http://www.dfg.de/">Deutsche Forschungsgemeinschaft (DFG)</a></li>
	<li><a href="http://www.neh.gov/">The National Endowment for the Humanities (NEH)</a></li>
</ul>

<h3>Reporting issues / contributing</h3>
<p>
For issues regarding dictionary content please contact <a href="https://adw-goe.de/en/research/research-projects-within-the-academies-programme/koptisches-altes-testament/mitarbeiter/frank-feder/">Frank Feder</a>. For search interface bugs, requests etc. please e-mail <a href="https://corpling.uis.georgetown.edu/amir/">Amir Zeldes</a>.
</p>
</div>