<div class="content">
<p>
The <em>Coptic Dictionary Online</em> aims to make it easy to look up Coptic words in all dialects 
and supply freely accessible translations in English, French and German, via human and machine readable interfaces. 
To learn more about using this dictionary, check out our quick <a href="help.cgi">how-to guide</a>.
</p>

<p>
This project was made possible through the help of the following:
</p>
<h3>Lexicon preparation</h3>
<p>The new <em>Comprehensive Coptic Lexicon</em> is a combination of two parts: the <em><strong>BBAW Lexicon of Coptic Egyptian</strong></em> of the project <em>Strukturen und Transformationen des Wortschatzes der ägyptischen Sprache</em> at the Berlin-Brandenburgische Akademie der Wissenschaften, Berlin, Germany, which includes etymologically Egyptian lexemes of Coptic, and the <em><strong>DDGLC Lexicon of Greek Loanwords in Coptic</strong></em> of the project <em>Database and Dictionary of Greek Loanwords in Coptic</em> at the Ägyptologisches Seminar, Freie Universität Berlin, Germany. Both projects are led by Prof. Tonio Sebastian Richter. The following people mainly contributed to compiling the lexical data:</p>
<ul>
	<li>Dylan M. Burns (DDGLC)</li>
	<li>Frank Feder (BBAW, AdWG)</li>
	<li>Katrin John (DDGLC)</li>
	<li>Maxim Kupreyev (BBAW)</li>
  </ul>
<p>moreover</p>
<ul>	
            <li>Mathew Almond, Marc Brose, Sonja Dahlgren, Julien Delhez, Anne Grons, Joost Hagen, Jakob Höper, Mariana Jung, Elisabeth Koch, Lena Krastel, Frederic Krueger, Jan Moje, Franziska Naether, Anne Sörgel, Nina Speranskaja, Gunnar Sperveslage, Vincent Walter, Alberto Winterberg.</li>
</ul>
<p>Each lexicon entry has a stable <em>Thesaurus Linguae Aegyptiae</em> (TLA) ID no.</p>
<p><a href="https://tei-c.org/" target="_blank">TEI XML</a> compliant data files of the lexica are published  under a <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> license at DOI <a href="https://doi.org/10.17169/refubium-2333" target="_blank">10.17169/refubium-2333</a>. </p>

<h3>Search interface</h3>
<p>The search interface was designed at Georgetown University as part of the project KELLIA by:</p>
<ul>
	<li>Emma Manning</li>
	<li>Amir Zeldes</li>
</ul>

<h3>Projects</h3>
<ul>
	<li><a href="http://www.copticscriptorium.org/" target="_blank"><em>Coptic Scriptorium</em></a>, Georgetown University, University of the Pacific.</li>
	<li><a href="http://coptot.manuscriptroom.com/" target="_blank"><em>CoptOT</em></a><em> - Digital Edition of the Coptic Old Testament</em>, Akademie der Wissenschaften zu Göttingen (<strong>AdWG</strong>), Germany.</li>
	<li><a href="http://research.uni-leipzig.de/ddglc/" target="_blank"><em>Database and Dictionary of Greek Loanwords in Coptic</em></a> (<strong>DDGLC</strong>), Freie Universität Berlin, Germany.
	<li><a href="http://kellia.uni-goettingen.de/" target="_blank"><em>Koptische/Coptic Electronic Language and Literature International Alliance</em></a> (<strong>KELLIA</strong>), partners: BBAW, Georgetown University, University of G&ouml;ttingen, University of M&uuml;nster, University of the Pacific.</li>
	<li><a href="http://aaew.bbaw.de/tla/" target="_blank"><em>Thesaurus Linguae Aegyptiae</em></a> (TLA),  <a href="http://aaew.bbaw.de/" target="_blank">Strukturen und Transformationen des Wortschatzes der &auml;gyptischen Sprache</a>, Berlin-Brandenburgische Akademie der Wissenschaften (<strong>BBAW</strong>), Berlin, Germany.</li>
</ul>


<h3>Funding</h3>
<ul>
	<li><a href="https://www.akademienunion.de/forschung/akademieforschung/" target="_blank">Akademienprogramm der Union der deutschen Akademien der Wissenschaften</a></li>
	<li><a href="http://www.dfg.de/" target="_blank">Deutsche Forschungsgemeinschaft (DFG)</a></li>
	<li><a href="http://www.neh.gov/" target="_blank">The National Endowment for the Humanities (NEH)</a></li>
</ul>

<h3>Reporting issues / contributing</h3>
<p>
For issues regarding dictionary content please contact <a href="http://www.bbaw.de/die-akademie/mitarbeiter/kupreyev" target="_blank">Maxim Kupreyev</a>. For search interface bugs, requests etc. please e-mail <a href="https://corpling.uis.georgetown.edu/amir/" target="_blank">Amir Zeldes</a>.
</p>

<h3>How to cite this page</h3>
<p>
<i>Coptic Dictionary Online</i>, ed. by the Koptische/Coptic Electronic Language and Literature International Alliance (KELLIA), http://www.coptic-dictionary.org/ (accessed yyyy-mm-dd). 
</p>
</div>
