<div class="content">
<p>
The Coptic Dictionary Online aims to make it easy to look up Coptic words in all dialects 
and supply freely accessible translations in English, French and German, via human and machine readable interfaces. 
To learn more about using this dictionary, check out our quick <a href="help.cgi">how-to guide</a>.
</p>

<p>
This project was made possible through the help of the following:
</p>
<h3>Lexicon preparation</h3>
<p>This lexicon primarily represents work by <b>Frank Feder</b>, who prepared and revised the original Coptic word list, in collaboration with <b>Maxim Kupreyev</b>, who extended 
and standardized the dictionary. Greek lemma information was contributed by teh <b>DDGLC</b> project in Leipzig and in Berlin. The following people contributed to compiling the lexical data:</p>
<ul>
	<li>Dylan M. Burns (DDGLC)</li>
	<li>Sonja Dahlgren (BBAW)</li>
	<li>Julien Delhez (BBAW)</li>
	<li>Frank Feder (BBAW, GASH)</li>
	<li>Katrin John (DDGLC)</li>
	<li>Lena Krastel (BBAW)</li>
	<li>Maxim Kupreyev (BBAW)</li>
	<li>Tonio Sebastian Richter (BBAW, DDGLC)</li>	
	<li>Anne S&ouml;rgel (BBAW)</li>
</ul>

<p><a href="https://tei-c.org/">TEI XML</a> compliant data files of the lexicon are currently available from <a href="https://github.com/KELLIA/dictionary/">GitHub</a> and are planned to be published under a <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> license at a stable DOI in the future. </p>

<h3>Search interface</h3>
<p>The search interface was designed at Georgetown University as part of the project KELLIA by:</p>
<ul>
	<li>Emma Manning</li>
	<li>Amir Zeldes</li>
</ul>

<h3>Projects</h3>
<ul>
	<li><a href="http://www.copticscriptorium.org/">Coptic Scriptorium</a> (Georgetown University, University of the Pacific)</li>
	<li><a href="http://coptot.manuscriptroom.com/">CoptOT</a> - Digital Edition of the Coptic Old Testament (G&ouml;ttingen Academy of Sciences and Humanities)</li>
	<li><a href="http://research.uni-leipzig.de/ddglc/">Database and Dictionary of Greek Loanwords in Coptic</a> (DDGLC, Leipzig and FU Berlin)
	<li><a href="http://kellia.uni-goettingen.de/">KELLIA</a> (BBAW, Georgetown University, University of G&ouml;ttingen, University of M&uuml;nster, University of the Pacific)</li>
	<li><a href="http://aaew.bbaw.de/tla/">Thesaurus Linguae Aegyptiae</a>, <a href="http://aaew.bbaw.de/">Strukturen und Transformationen des Wortschatzes der &auml;gyptischen Sprache</a> (BBAW)</li>
</ul>


<h3>Funding</h3>
<ul>
	<li><a href="https://www.akademienunion.de/forschung/akademieforschung/">Akademienprogramm der Union der deutschen Akademien der Wissenschaften</a></li>
	<li><a href="http://www.dfg.de/">Deutsche Forschungsgemeinschaft (DFG)</a></li>
	<li><a href="http://www.neh.gov/">The National Endowment for the Humanities (NEH)</a></li>
</ul>

<h3>Reporting issues / contributing</h3>
<p>
For issues regarding dictionary content please contact <a href="https://adw-goe.de/en/research/research-projects-within-the-academies-programme/koptisches-altes-testament/mitarbeiter/frank-feder/">Frank Feder</a>. For search interface bugs, requests etc. please e-mail <a href="https://corpling.uis.georgetown.edu/amir/">Amir Zeldes</a>.
</p>
</div>