<div class="content">
<h3>Main search form</h3>
<p>
From the dictionary's main page you can run a configurable search using the following fields:
</p>
<ul>
	<li>
	<b>Coptic word</b> - enter Coptic text in utf-8 characters. You can also use regular expression wildcards:
		<ul>
		<li>Words starting in some prefix: <a class="anti" href="results.cgi?coptic=ⲙⲛⲧ.*&dialect=any&pos=any&definition=&def_search_type=exact+sequence&lang=any">ⲙⲛⲧ.*</a></li>
		<li>Words ending in some suffix: <a class="anti" href="results.cgi?coptic=.*ϩⲏⲧ&dialect=any&pos=any&definition=&def_search_type=exact+sequence&lang=any">.*ϩⲏⲧ</a></li>
		<li>Wildcard in middle: <a class="anti" href="results.cgi?coptic=ⲥ.ⲧⲙ&dialect=any&pos=any&definition=&def_search_type=exact+sequence&lang=any">ⲥ.ⲧⲙ</a></li>
		<li>Optional character: <a class="anti" href="results.cgi?coptic=ⲥⲱⲧⲉ?ⲙ&dialect=any&pos=any&definition=&def_search_type=exact+sequence&lang=any">ⲥⲱⲧⲉ?ⲙ</a></li>
		<li>For complete documentation on regular expressions see: <a href="http://www.regular-expressions.info/">http://www.regular-expressions.info/</a></ul>
	</li>
	<li><b>Dialect</b> - select one of the dialect sigla or use <i>any</i> for any dialect</li>
	<li><b>Scriptorium Tag</b> - part of speech tag to limit the search by, based on the inventory described <a href="https://github.com/CopticScriptorium/tagger-part-of-speech/blob/master/scriptorium_tagset_documentation.pdf">here</a></li>
	<li><b>Search in definitions</b> - you can search within definitions in either English, French or German, or in any language. Searches can be restricted to exact sequences of words within definitions, or else to definitions containing all of the entered words in any order.</li>
</ul>
<h3>Quick search bar</h3>
<p>
You can quickly search for words without returning to the main search page by using the quick search bar at the top. You can enter:</p>

	<ul>
	<li>A Coptic word or regular expression - this will search for your word in any dialect (for regular expression search see above) </li>
	<li>English/French/German words - this will search for definitions containing all of these words in some language</li>
	<li>A combination of Coptic and definition words - searches for entries matching both, in any dialect and definition language</li>
	</ul>
	
<h3>Frequencies and collocations</h3>
<p>The Coptic Dictionary Online is linked to <a href="http://copticscriptorium.org">Coptic Scriptorium</a> corpora. Users can search for attestations of words, get frequencies and rank information or browse collocations of words using the following icons on each entry's page:</p>

<ul>
	<li><img src="img/scriptorium.png" class="scriptorium_logo" title="Search in Coptic Scriptorium"> - click on this icon next to a word form to search for it in Coptic Scriptorium corpora (you will be taken to ANNIS, the project's search interface)</li>
	<li><i class="fa fa-sort-numeric-asc freq_icon">&nbsp;</i> - pass over this icon to show frequencies and ranks for each word. For example, you can compare which is more frequent and how much: <a href="https://coptic-dictionary.org/entry.cgi?tla=C615">ⲉ</a> or <a href="https://coptic-dictionary.org/entry.cgi?tla=C2349">ⲛ</a>?</li>
	<li><b class="fa-stack freq-icon" style="position:relative;left:-5px">
										  <i class="fa fa-share-alt fa-stack-1x fa-rotate-315"></i>
										  <i class="fa fa-share-alt fa-stack-1x fa-rotate-45"></i>
										</b><span style="left: -9px; position: relative;">- if available, this icon shows collocations, words that cooccur with this word form much more often than expected by chance</span></li>
</ul>

<p><b>Note:</b> frequencies in the dictionary are cached and updated periodically. Numbers in ANNIS searches may differ slightly in some cases due to updates and/or slight differences in handling duplicate texts.</p>

<h3>Phrase network graph</h3>

<p>For entries with sufficient attestations in our corpora, you may see a phrase network graph thumbnail displayed as follows:<p>

<a href="https://coptic-dictionary.org/network.cgi?word=%E2%B2%89%E2%B2%93%E2%B2%A3%E2%B2%89&pos=V&tla=CF3246" target="_blank"><img src="img/phrase_network.png"/ width="100" style="border: 1px solid"></a>

<p>Clicking on this will take you to a phrase network graph like the one below, showing typical sequences of words involving this entry. The network shows a diagram of up to 20 most common phrases headed by the head word, truncated to 8 words at most for readability. Nodes and transitions are sized proportionally to how often they are attested in Coptic Scriptorium data. Correspondences between nodes in different phrases are computed using dependency parses based on the <a href="https://copticscriptorium.org/treebank.html">Coptic Universal Dependency Treebank</a>. </p>

<a href="https://coptic-dictionary.org/network.cgi?word=%E2%B2%89%E2%B2%93%E2%B2%A3%E2%B2%89&pos=V&tla=CF3246" target="_blank"><img src="img/phrase_network.png"/ width="50%" style="border: 1px solid"></a>

<p style="margin-top: 5px"><b>Disclaimer:</b> some errors due to automatic Natural Language Processing may be included in these graphs, which are provided as an assistive tool only.</p>

<h3>Example usages</h3>

<p>If available, each entry will also provide some automatically extracted examples of the entry, including examples of inflected forms of the same lemma, as shown below. As with network graphs, this functionality depends on automatic analysis and may occasionally contain errors - we welcome reports on incorrect examples at our <a href="https://github.com/KELLIA/dictionary/issues/new?assignees=&labels=&template=bad-example-usage-report.md&title=Bad+example+sentence+for+the+entry+%3CENTRY%3E">GitHub repository</a>.</p>

<img src="img/examples.png" width="50%" style="border: 1px solid">

<p style="margin-top: 5px">For each example, you can also see the text from which it is extracted, and click on the URN link to see the entire text for more context.</p>

<h3>Import of data into spreadsheet</h3>
<p>You can import lemma entry data into a Google spreadsheet by copying formulas like the ones below into a cell of an empty spreadsheet.</p>
<table class="webservice_example_table">
<tr><td class="webservice_code">=IMPORTHTML("http://www.coptic-dictionary.org/entry.cgi?tla=C195"; "table"; 1)</td><td class="webservice_comment">table of forms (table <b>1</b>)</td></tr>
<tr><td class="webservice_code">=IMPORTHTML("http://www.coptic-dictionary.org/entry.cgi?tla=C3093"; "table"; 3)</td><td class="webservice_comment">table of senses (table <b>3</b>)</td></tr>
<tr><td class="webservice_code">=IMPORTHTML("http://www.coptic-dictionary.org/entry.cgi?tla=C3093"; "table"; 4)</td><td class="webservice_comment">table of related entries (table <b>4</b>)</td></tr>
<tr><td class="webservice_code">=IMPORTHTML("http://www.coptic-dictionary.org/results.cgi?coptic=ⲣⲱⲙⲉ&dialect=any&pos=any&definition=&def_search_type=exact+sequence&lang=any"; "table"; 1)</td><td class="webservice_comment">search reply</td></tr>
<tr><td class="webservice_code">=IMPORTHTML("http://www.coptic-dictionary.org/results.cgi?coptic=ⲣⲱⲙⲉ"; "table"; 1)</td><td class="webservice_comment">search reply, simple</td></tr>
</table>
<br/>
<p><b>Example:</b></p>
<a href="img/Screenshot-Data_in_Google_Spreadsheet.png" target="_blank"><img src="img/Screenshot-Data_in_Google_Spreadsheet.png" style="width:100%"/></a>

</div>
